.header-container {
  background: linear-gradient(180deg, #062c49 21.88%, #09083a 100%);
  width: 100%;
  height: 132px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.header-logo {
  height: 60%;
  margin-bottom:10px;
}
