.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
button {
  background-color: #4CAF50; /* Couleur de fond */
  border: none; /* Suppression de la bordure */
  color: blue; /* Couleur du texte */
  padding: 16px 32px; /* Ajout de la marge interne */
  text-align: center; /* Centrage du texte */
  text-decoration: none; /* Suppression de la décoration du texte */
  display: inline-block; /* Affichage en ligne */
  font-size: 16px; /* Taille de police */
  margin: 4px 2px; /* Ajout de marges */
  cursor: pointer; /* Changement de curseur au survol */
}
